.menu-responsive {
    border: 2px solid var(--bordes);
    background: var(--fondomenor);
    height: 4rem;
    width: 100%;
}

.left {
    float: left;
    height: 100%;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--bordes);
    /*Letras*/
    color: var(--letras);
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.trabajos {
    float: left;
    height: 100%;
    width: 31%;
    border-right: 2px solid var(--bordes);
}

.habilidad {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--letras);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.trabajos a {
    text-decoration: none;
    transition: all 0.5s;
}

.trabajos a:hover>div {
    color: #0077ff;
    transition: all 0.5s;
}

.imgperfil {
    width: 3rem;
    border-radius: 0%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.imgperfil:hover {
    border-radius: 50%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}